@{
    ViewBag.Title = "Potwiedzenie wysłania.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sprawdź swoją skrzynkę, aby zresetować hasło.
    </p>
</div>
	
