@model IEnumerable<Shop.Model.Models.Consignment>
@{
    ViewBag.Title = "Podsumowanie zamówienia";
}

<div ng-controller="BasketController">
    <h2>Podsumowanie zamówienia</h2>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Nazwa produktu</th>
            <th>Ilość</th>
            <th>Cena (za sztukę)</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in $storage.products">
            <td><a href="/products/details/{{product.Id}}">{{product.Name}}</a></td>
            <td>{{product.Amount}}</td>
            <td>{{product.Price}}</td>
        </tr>
        </tbody>
    </table>

    <h2>Wybierz formę dostawy</h2>
    <ul>
        @foreach (var consignment in Model)
        {
            <p><input type="radio" name="consignmentChoice" ng-click="setConsignment()" ng-model="consignment" value="{ Id: @consignment.Id, Cost: @consignment.Cost}"/>@consignment.Name <br/>
                Cena: <strong>@consignment.Cost</strong> złotych
            </p>
        }
    </ul>
    {{consignment}}
    {{consignmentId}}
    {{consignmentCost}}
    <h2><strong>Całkowita kwota zamówienia: {{getTotalPrice() + consignment.Cost}} zł</strong></h2>
    <p>Dodatkowe uwagi dotyczące zamówienia</p>
    <p><textarea rows="5" cols="80" id="notes" ng_model="notes"></textarea></p>

    <button type="button" class="btn btn-success" ng-click="createOrder()" ng-disabled="consignmentType == 0">Złóż zamówienie</button>
    <a class="btn btn-danger" href="/products" >Wróć do listy produktów</a>
</div>