@{
    ViewBag.Title = "Transakcja zakończona";
}

<h2>Transakcja zakończona</h2>

Zamówienie zostało zapisane. Na Twój adres email została wysłana wiadomość z podsumowaniem zamówienia.

Kliknij <a href="/Home/Index">tutaj</a>, aby powrócić na stronę główną.

