@model Shop.Model.Models.Order
@{
    ViewBag.Title = "Transakcja zakończona";
}

<h2>Transakcja zakończona</h2>

Zamówienie nr @Model.Id zostało zapisane. Na adres @Model.User.Email została wysłana wiadomość z podsumowaniem zamówienia.

Kliknij <a href="/Home/Index">tutaj, aby powrócić na stronę główną.</a>

