@using Shop.Model.Helpers
@model System.Linq.IQueryable<Shop.Model.Models.Product>

<div class="shop-items blocky">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                // Jeżeli wyświetlone trzy produkty, to przejdź do nowego wiersza
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="item">
                        @if (item.ModifiedDate.Date == DateTime.Today)
                        {
                            <div class="item-icon"><span>HOT</span></div>
                        }
                        <!-- Obraz przedmiotu -->
                        <div class="item-image">
                            @Html.ActionImage("Details", new {id = item.Id}, item.Photo, "Details")
                        </div>
                        <!-- Szczegóły przedmiotu -->
                        <div class="item-details">
                            <!-- Name -->
                            <h5>@Html.ActionLink(item.Name, "Details", new {id = item.Id})</h5>
                            <div class="clearfix"></div>
                            <!-- Krótki opis, po dwóch liniach ucinany -->
                            <p style="overflow: hidden">@Html.DisplayFor(modelItem => item.Description)</p>
                            <hr/>
                            <!-- Cena -->
                            <div class="item-price pull-left">@Html.DisplayFor(modelItem => item.Price)</div>
                            <!-- Dodaj do koszyka -->
                            <div class="pull-right">
                                <a href="#" class="btn btn-danger btn-sm">Dodaj do koszyka</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
