@{
    ViewBag.Title = "O projekcie";
}
<h2>@ViewBag.Title.</h2>

<p>To ma być sklep internetowy/serwis aukcyjny. Użytkownicy będą mieli możliwość wystawiania własnych przedmiotów na sprzedaż.</p>
<p>
    Twórcy:
    <ul>
        <li>Adam Grzonkowski</li>
        <li>Tomasz Kobus</li>
        <li>Robert Miklas</li>
        <li>Mikołaj Trawiński</li>
    </ul>
</p>
