@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Logo & Navigation ends -->
<!-- Page title -->
<div class="page-title">
    <div class="container">
        <h2><i class="fa fa-desktop color"></i> FAQ <small>czyli odpowiedzi na Twoje pytania</small></h2>
        <hr />
    </div>
</div>
<!-- Page title -->
<!-- Page content -->

<div class="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Czy produkty oferowane przez MikAd są nowe?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Tak, wszystkie nasze produkty są nowe i sprawne. Dokładamy wszelkich starań, aby wysyłany sprzęt był odpowiednio zabezpieczony, dzięki czemu mamy 100% skuteczność w realizacji Twoich zamówień.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Czy aby robić zakupy w MikAd muszę posiadać konto użytkownika?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Tak, dbamy o jakość naszego serwisu. Dzięki dostępowi do własnego panelu masz możliwość wglądu w historię swojego zamówienia oraz masz pewność, że wystawione przy produktach opinie są zgodne z prawdą.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Jak uiszczane są płatności w serwisie MikAd?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Po dokonaniu zakupu otrzymasz na wskazany podczas rejestracji adres e-mail potwierdzenie zakupu. Będą tam podane informacje do przelewu oraz podsumowanie zamówienia.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="sep-bor"></div>
    </div>
</div>


