@model Shop.Model.Models.Product
@using Shop.Model.Models
@using Shop.Properties;
@{
    ViewBag.Title = "Home Page";
}
    <div class="clearfix"></div>

    <!-- Carousel starts -->

    <div id="carousel-example-generic" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!-- Item -->
            <div class="item active animated fadeInRight">
                <img src="~/img/elektronika.jpg" alt="" class="img-responsive" />
                <div class="carousel-caption">
                    <h2 class="animated fadeInLeftBig">Elektronika</h2>
                    <p class="animated fadeInRightBig">Elektronika to Nasza pasja. Dzięki wyselekcjonowanym ofertom, masz wgląd tylko do najlepszych ofert.</p>
                </div>
            </div>

            <div class="item animated fadeInRight">
                <img src="~/img/laptop.jpg" alt="" class="img-responsive" />
                <div class="carousel-caption">
                    <h2 class="animated fadeInLeftBig">Komputery</h2>
                    <p class="animated fadeInRightBig">W swojej ofercie posiadamy komputery czołowych, światowych producentów.</p>
                </div>
            </div>

            <div class="item animated fadeInRight">
                <img src="~/img/smartfon.jpg" alt="" class="img-responsive" />
                <div class="carousel-caption">
                    <h2 class="animated fadeInLeftBig">Smartfony</h2>
                    <p class="animated fadeInRightBig">W tym portalu udostępniane są jedynie telefony sprawne i zadbane.</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>

    <!-- carousel ends -->
    <!-- Hero starts -->

    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Catchy title -->
                    <h3>Najwyższa jakość - najniższe ceny</h3>
                    <p>Dzięki naszej starannej selekcji sprzętu, masz unikalną możliwość wyboru najlepszej jakości elektroniki w odpowiedniej dla Ciebie cenie.</p>
                </div>
            </div>
            <div class="sep-bor"></div>
        </div>
    </div>

    <!-- Hero ends -->
    <!-- Lista do 4 przedmiotów z najnowszą datą modyfikacji -->
    @{
        Html.RenderAction("_MainPageProductsPartial", "Products");
    }

    <!-- Catchy starts -->
    <div class="catchy blocky">
        <div class="catchy-inner1">
            <div class="catchy-inner2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="catchy-subscribe">
                                <h3>DOŁącz do Nas!</h3>
                                <p>Dzięki subskrypcji, będziesz wiedzieć pierwszy o najnowszych produktach oraz promocjach. </p>
                                <br>
                                <form class="form-inline ng-pristine ng-valid" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control " id="exampleInputEmail2" placeholder="Wpisz email">
                                    </div>
                                    <button type="submit" class="btn btn-danger">Subskrybuj</button>
                                </form>

                            </div>
                        </div>
                        <div class="col-md-7">

                            <div class="report">
                                <div class="report-bor">
                                    <div class="row">
                                        <!-- Report data starts -->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="report-data">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <!-- Icon -->
                                                        <div class="report-icon">
                                                            <i class="fa fa-group color"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-md-8 col-xs-8">
                                                        <!-- Details -->
                                                        <span class="report-big color">1000+</span> <span>Klientów</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Report data ends -->
                                        <!-- Report data starts -->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="report-data">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <!-- Icon -->
                                                        <div class="report-icon">
                                                            <i class="fa fa-calendar color"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-md-8 col-xs-8">
                                                        <!-- Details -->
                                                        <span>Od roku</span><span class="report-big color">2015</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Report data ends -->
                                        <!-- Report data starts -->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="report-data">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                                        <!-- Icon -->
                                                        <div class="report-icon">
                                                            <i class="fa fa-android color"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-md-8 col-xs-8">
                                                        <!-- Details -->
                                                        <span class="report-big color">2</span> <span>Pracowników</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Report data ends -->

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Catchy ends -->